<script>window.audios = <%=raw @audios.to_json%></script>
<center><span id="presset-name"><%=@presset.name%></span></center><br>

<div class="black-text-color keyboard">
	<%$keys.each do |wich, key|%>
		<%if key=='a'%><div class='offset' style="width: 40px;"></div><%end%>
		<%if key=='z'%><div class='offset' style="width: 80px;"></div><%end%>
		<div class="key" data-key='<%=wich%>'>
			<span class="chunk char"><%=key.capitalize%></span>
			<%@presset.sounds.each do |s|%>
				<%if (s.key==wich.to_i)%>
					<center class="noodle sound"><b><%=s.name%></b></center>
				<%end%>
			<%end%>
		</div>
		<%if key=='p' or key=='l' or key=='m'%>
			<br>
		<%end%>
	<%end%>
</div>
<div>
	<form id='save-song-form' action="<%=song_create_path%>" method="post">
		<input name='song[name]' type="text">
		<input name='song[b64]' type="hidden">
		<input type="submit">
	</form>
</div>
<div id="main-rec"></div>
<span id="try" style='color:#4285F4'>
		<i class="animated infinite pulse fa fa-hand-o-up" aria-hidden="true"></i>
		Try to record yourself
</span>
<div id="reclist">
	<ul id='root'></ul>
</div>
<script src="/scripts/recorder.js"></script>
<script src="/scripts/classes.js"></script>
<script src="/scripts/init.js"></script>
<script src="/scripts/pad.js"></script>
