<!DOCTYPE html>
<html>
  <head>
    <title>Pad</title>
    <!-- w3css -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- w3css -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous">
    </script>
  </head>

  <body>
    <div id="nav-bar" class="noodle">
      <div class="logo w3-left">
          <a href="/">Main Page</a>
      </div>
      <div class="nav-item w3-left">
          <div class="lamp"></div><a href="<%=all_pressets_path%>">Pressets</a>
      </div>
      <div class="nav-item w3-left">
          <div class="lamp"></div><a href="/#">Songs</a>
      </div>
      <%if user_signed_in?%>
        <div class="sign-item nav-item w3-right">
          <div class="lamp"></div>
          <a href="<%=destroy_user_session_path%>" data-method="delete">Sign out</a>
        </div>
      <%else%>
        <div class="sign-item nav-item w3-right">
            <div class="lamp"></div><a href="<%=new_user_session_path%>">Sign in</a>
        </div>
        <div class="sign-item nav-item w3-right">
            <div class="lamp"></div><a href="<%=new_user_registration_path%>">Sign up</a>
        </div>
      <%end%>
    </div>
    <div class="container">
      <%if notice%><p class="notice"><%= notice %></p><%end%>
      <%if alert%><p class="alert"><%= alert %></p><%end%>
      <%= yield %>
      <div id="reclist"></div>
    </div>
  </body>
</html>
