<!DOCTYPE html>
<html>
  <head>
    <title>Pad</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous">
    </script>
  </head>
  
  <body>
    <div id="nav-bar" class="noodle">
      <div class="nav-item logo">
        
          <span><a href="/">Main Page</a></span>
      </div>
      <div class="nav-item">
          <div class="lamp"></div><span><a href="<%=all_pressets_path%>">Pressets</a></span>
      </div>
      <div class="nav-item">
          <div class="lamp"></div><span><a href="/#">Songs</a></span>
      </div>
    </div>
    <div class="container">
      <button id='rec' recording='n'>Rec</button>
      <%= yield %>
      <div id="reclist"></div>
    </div>
  </body>
</html>
